extends layouts/login-layout.pug

block content
    .rightContainerWrapper
        img.secondaryBeeSVG(src="/svgs/bee.svg")
        h1 Buzzing  Now
        h2 Sign in to Buzzer.
        .loginContainer
            form(method="post")

                p.errorMessage #{errorMessage}
        
                input.userNameInput(type="text", name="logUsername", placeholder="Username or email", value=logUsername required="")
                input.passwordInput(type="password", name="logPassword", placeholder="Password", required="")
        
                //- input.usernameInput(type="text", name="logUsername", placeholder="Username or email", value="tandid.alam@gmail.com" required="")
                //- input.passwordInput(type="password", name="logPassword", placeholder="Password",  value="Duck123" required="")
                input(type="submit", value="Login")
                button.demoLoginButton Demo Login

            a(href="/register") Don't have an account? Sign up here.

    block scripts
        script(src="/js/loginPage.js")