html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.row {
  height: 100%;
  width: 100%;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  color: black;
  padding-top: 60px;
  padding-bottom: 60px;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  color: black;
}

.leftContent {
  background-color: #fe943b;
  background-image: url("../images/background.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

.mainBeeSVG {
  display: block;
  height: 350px;
}

.secondaryBeeSVG {
  display: block;
  height: 45px;
}

.rightContent {
  display: flex;

  align-items: center;

  padding-left: 2%;
}

.loginContainer {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 2px;

  background-color: white;
  border-radius: 20px;
  border: 2px solid whitesmoke;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  border: 2px solid #fe943b;
}

input[type="submit"] {
  background-color: #fe943b;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: bolder;
}

input[type="submit"]:hover {
  background-color: #fe851c;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
}

.demoLogin {
  background-color: #fe943b;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: bolder;
}

.demoLogin:hover {
  background-color: #fe851c;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
}
